@* SPDX-License-Identifier: Apache-2.0 *@
@* Copyright (c) 2025 FVA GmbH - interop4x. All rights reserved. *@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UmatiGateway</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UmatiGateway.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">UmatiGateway</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/OPCConnection">OPC Connection</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/OPCSubscriptions">OPC Subscriptions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/UmatiMqtt">MqttConfiguration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Configuration">Configuration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Settings">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/CustomEncodings">Custom Encodings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container flex-grow-1">
        <main role="main" id="scrollable-main" class="pb-3" style="overflow-y: auto;">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - UmatiGateway - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <div class="modal-overlay" id="modalOverlay">
        <div class="modal-content" style="width:30%">
            <h2 id="transition" style="text-align: left;"></h2>
            <p></p>
            <progress style="width: 100%;"></progress>
            <p id="message" style="text-align: left; width:100%;"></p>
            <!-- <progress max="100" value="50" style="width: 100%;"></progress> -->
            <p id="detail" style="text-align: left; width:100%;"></p>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
<script>
    function adjustMainHeight() {
        const header = document.querySelector('header').offsetHeight;
        const footer = document.querySelector('footer').offsetHeight;
        const main = document.getElementById('scrollable-main');
        main.style.maxHeight = `calc(100vh - ${header + footer}px)`;
    }

    window.addEventListener('resize', adjustMainHeight);
    window.addEventListener('load', adjustMainHeight);
</script>
<script>
    // Überprüfen, ob EventSource bereits initialisiert ist, und nur dann erstellen, wenn nicht vorhanden
    if (!window.hasOwnProperty("eventSource")) {
        console.log("Initialisiere EventSource nur einmal in der Sitzung.");
        window.eventSource = new EventSource("/api/SSE/events");

        // Event-Handler für eingehende Nachrichten
        window.eventSource.onmessage = function(event) {
            console.log("Event empfangen:", event.data);
            const data = JSON.parse(event.data);
            if (data.isBlocking === true) {
                openModal();
                document.getElementById("transition").innerText = data.transition;
                document.getElementById("message").innerText = data.message;
                document.getElementById("detail").innerText = data.detail;
            } else {
                closeModal();
            }
        };

        // Fehlerhandler für die EventSource
        window.eventSource.onerror = function(error) {
            console.error("SSE Fehler:", error);
            window.eventSource.close(); // Verbindung bei Fehler schließen
            delete window.eventSource; // Entferne die Instanz, um sie bei Bedarf neu zu erstellen
        };
    } else {
        console.log("EventSource ist bereits initialisiert.");
    }
</script>



<script>
    function openModal() {
        document.getElementById("modalOverlay").style.display = "flex";
    }

    function closeModal() {
        document.getElementById("modalOverlay").style.display = "none";
    }
</script>